@use "sass:map";

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  column-gap: 8px;

  .page-numbers {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    line-height: 20px;
    border-radius: 10px;
    background-color: $white;
    color: map.get($gray-colors, '2');
    border: 1px solid map.get($gray-colors, '8');
    text-decoration: none;

    &.next {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTgzOTggMTQuNEM0LjQxNzMyIDE0LjIzMzMgNC4zMzM5OCAxNC4wMzYxIDQuMzMzOTggMTMuODA4M0M0LjMzMzk4IDEzLjU4MDYgNC40MTczMiAxMy4zODMzIDQuNTgzOTggMTMuMjE2N0w5LjQ2NzMyIDguMzMzMzNMNC41NjczMiAzLjQzMzMzQzQuNDExNzYgMy4yNzc3OCA0LjMzMzk4IDMuMDgzMzMgNC4zMzM5OCAyLjg1QzQuMzMzOTggMi42MTY2NyA0LjQxNzMyIDIuNDE2NjcgNC41ODM5OCAyLjI1QzQuNzUwNjUgMi4wODMzMyA0Ljk0Nzg3IDIgNS4xNzU2NSAyQzUuNDAzNDMgMiA1LjYwMDY1IDIuMDgzMzMgNS43NjczMiAyLjI1TDExLjM2NzMgNy44NjY2N0MxMS40MzQgNy45MzMzMyAxMS40ODEyIDguMDA1NTYgMTEuNTA5IDguMDgzMzNDMTEuNTM2OCA4LjE2MTExIDExLjU1MDcgOC4yNDQ0NCAxMS41NTA3IDguMzMzMzNDMTEuNTUwNyA4LjQyMjIyIDExLjUzNjggOC41MDU1NiAxMS41MDkgOC41ODMzM0MxMS40ODEyIDguNjYxMTEgMTEuNDM0IDguNzMzMzMgMTEuMzY3MyA4LjhMNS43NTA2NSAxNC40MTY3QzUuNTk1MSAxNC41NzIyIDUuNDAzNDMgMTQuNjUgNS4xNzU2NSAxNC42NUM0Ljk0Nzg3IDE0LjY1IDQuNzUwNjUgMTQuNTY2NyA0LjU4Mzk4IDE0LjRaIiBmaWxsPSIjMzhCMEU0Ii8+Cjwvc3ZnPgo=");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto;

      &:hover {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTgzOTggMTQuNEM0LjQxNzMyIDE0LjIzMzMgNC4zMzM5OCAxNC4wMzYxIDQuMzMzOTggMTMuODA4M0M0LjMzMzk4IDEzLjU4MDYgNC40MTczMiAxMy4zODMzIDQuNTgzOTggMTMuMjE2N0w5LjQ2NzMyIDguMzMzMzNMNC41NjczMiAzLjQzMzMzQzQuNDExNzYgMy4yNzc3OCA0LjMzMzk4IDMuMDgzMzMgNC4zMzM5OCAyLjg1QzQuMzMzOTggMi42MTY2NyA0LjQxNzMyIDIuNDE2NjcgNC41ODM5OCAyLjI1QzQuNzUwNjUgMi4wODMzMyA0Ljk0Nzg3IDIgNS4xNzU2NSAyQzUuNDAzNDMgMiA1LjYwMDY1IDIuMDgzMzMgNS43NjczMiAyLjI1TDExLjM2NzMgNy44NjY2N0MxMS40MzQgNy45MzMzMyAxMS40ODEyIDguMDA1NTYgMTEuNTA5IDguMDgzMzNDMTEuNTM2OCA4LjE2MTExIDExLjU1MDcgOC4yNDQ0NCAxMS41NTA3IDguMzMzMzNDMTEuNTUwNyA4LjQyMjIyIDExLjUzNjggOC41MDU1NiAxMS41MDkgOC41ODMzM0MxMS40ODEyIDguNjYxMTEgMTEuNDM0IDguNzMzMzMgMTEuMzY3MyA4LjhMNS43NTA2NSAxNC40MTY3QzUuNTk1MSAxNC41NzIyIDUuNDAzNDMgMTQuNjUgNS4xNzU2NSAxNC42NUM0Ljk0Nzg3IDE0LjY1IDQuNzUwNjUgMTQuNTY2NyA0LjU4Mzk4IDE0LjRaIiBmaWxsPSIjMDBCN0IzIi8+Cjwvc3ZnPgo=")
      }
    }

    &.prev {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTgzOTggMTQuNEM0LjQxNzMyIDE0LjIzMzMgNC4zMzM5OCAxNC4wMzYxIDQuMzMzOTggMTMuODA4M0M0LjMzMzk4IDEzLjU4MDYgNC40MTczMiAxMy4zODMzIDQuNTgzOTggMTMuMjE2N0w5LjQ2NzMyIDguMzMzMzNMNC41NjczMiAzLjQzMzMzQzQuNDExNzYgMy4yNzc3OCA0LjMzMzk4IDMuMDgzMzMgNC4zMzM5OCAyLjg1QzQuMzMzOTggMi42MTY2NyA0LjQxNzMyIDIuNDE2NjcgNC41ODM5OCAyLjI1QzQuNzUwNjUgMi4wODMzMyA0Ljk0Nzg3IDIgNS4xNzU2NSAyQzUuNDAzNDMgMiA1LjYwMDY1IDIuMDgzMzMgNS43NjczMiAyLjI1TDExLjM2NzMgNy44NjY2N0MxMS40MzQgNy45MzMzMyAxMS40ODEyIDguMDA1NTYgMTEuNTA5IDguMDgzMzNDMTEuNTM2OCA4LjE2MTExIDExLjU1MDcgOC4yNDQ0NCAxMS41NTA3IDguMzMzMzNDMTEuNTUwNyA4LjQyMjIyIDExLjUzNjggOC41MDU1NiAxMS41MDkgOC41ODMzM0MxMS40ODEyIDguNjYxMTEgMTEuNDM0IDguNzMzMzMgMTEuMzY3MyA4LjhMNS43NTA2NSAxNC40MTY3QzUuNTk1MSAxNC41NzIyIDUuNDAzNDMgMTQuNjUgNS4xNzU2NSAxNC42NUM0Ljk0Nzg3IDE0LjY1IDQuNzUwNjUgMTQuNTY2NyA0LjU4Mzk4IDE0LjRaIiBmaWxsPSIjMzhCMEU0Ii8+Cjwvc3ZnPgo=");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: auto;
      transform: rotate(180deg);

      &:hover {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTgzOTggMTQuNEM0LjQxNzMyIDE0LjIzMzMgNC4zMzM5OCAxNC4wMzYxIDQuMzMzOTggMTMuODA4M0M0LjMzMzk4IDEzLjU4MDYgNC40MTczMiAxMy4zODMzIDQuNTgzOTggMTMuMjE2N0w5LjQ2NzMyIDguMzMzMzNMNC41NjczMiAzLjQzMzMzQzQuNDExNzYgMy4yNzc3OCA0LjMzMzk4IDMuMDgzMzMgNC4zMzM5OCAyLjg1QzQuMzMzOTggMi42MTY2NyA0LjQxNzMyIDIuNDE2NjcgNC41ODM5OCAyLjI1QzQuNzUwNjUgMi4wODMzMyA0Ljk0Nzg3IDIgNS4xNzU2NSAyQzUuNDAzNDMgMiA1LjYwMDY1IDIuMDgzMzMgNS43NjczMiAyLjI1TDExLjM2NzMgNy44NjY2N0MxMS40MzQgNy45MzMzMyAxMS40ODEyIDguMDA1NTYgMTEuNTA5IDguMDgzMzNDMTEuNTM2OCA4LjE2MTExIDExLjU1MDcgOC4yNDQ0NCAxMS41NTA3IDguMzMzMzNDMTEuNTUwNyA4LjQyMjIyIDExLjUzNjggOC41MDU1NiAxMS41MDkgOC41ODMzM0MxMS40ODEyIDguNjYxMTEgMTEuNDM0IDguNzMzMzMgMTEuMzY3MyA4LjhMNS43NTA2NSAxNC40MTY3QzUuNTk1MSAxNC41NzIyIDUuNDAzNDMgMTQuNjUgNS4xNzU2NSAxNC42NUM0Ljk0Nzg3IDE0LjY1IDQuNzUwNjUgMTQuNTY2NyA0LjU4Mzk4IDE0LjRaIiBmaWxsPSIjMDBCN0IzIi8+Cjwvc3ZnPgo=")
      }
    }
  }
}